{{#if Valid}}
{{>headerCL}}
{{else}}
{{>headerSL}}
{{/if}}
<p class="red-text">{{erro}}</p>
<div class="row container">
  <a href="/client/cart" class="btn red btn-cart">🛒</a>
  <nav class="nav-extended fixed amber darken-1">
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#hamburger">hamburger</a></li>
        <li class="tab"><a href="#carne">carne</a></li>
        <li class="tab"><a href="#refri">refrigerante</a></li>
      </ul>
    </div>
  </nav>
    <div class="col s12">
      <!--lanche hamburger -->
      <section id="hamburger">
        <p>Lanches de Hamburger</p>
        {{#each rowHamb}}
        <a href="#modal{{id}}" class="modal-trigger">
          <div class="lancheUniq amber darken-1">
            <img src="img/{{path}}" class="responsive-img center">
            <h5 class="black-text">{{nome}}</h5>
            <p class="black-text">R${{valor}}</p>
            <p class="black-text">{{descricao}}</p>
          </div>
        </a>
        {{/each}}
      </section>
      
      <!--lanche carne -->
      <section id="carne">
        <p>Lanches de Carne</p>
      {{#each rowCarne}}
        <a href="#modal{{id}}" class="modal-trigger">
          <div class="lancheUniq amber darken-1">
            <img src="img/{{path}}" class="responsive-img center">
            <h5 class="black-text">{{nome}}</h5>
            <p class="black-text">R${{valor}}</p>
            <p class="black-text">{{descricao}}</p>
          </div>
        </a>
      {{/each}}
      </section>
      
      <!-- bebidas -->
      <section id="refri">
        <p>Bebidas</p>
        {{#each rowRefri}}
        <a href="#modal{{id}}" class="modal-trigger">
          <div class="lancheUniq amber darken-1">
            <img src="img/{{path}}" class="responsive-img center">
            <h5 class="black-text">{{nome}}</h5>
            <p class="black-text">R${{valor}}</p>
            <p class="black-text">{{descricao}}</p>
          </div>
        </a>
        {{/each}}
      </section>
    </div>
    
    {{#each rowAll}}
    <div id="modal{{id}}" class="modal amber lighten-5">
      <div class="modal-content">
        <div class="modalTitle amber darken-1">
          <h1 class="modal-close white-text waves-effect waves-light"><i class="material-icons">arrow_back</i></h1>
          <h3 class="white-text">{{nome}}</h3>
        </div>
      </div>
      <div class="modal-footer" style="text-align:center;">
        <img src="img/{{path}}" class="responsive-img">
        <div class="desc">
          <p class="black-text">{{descricao}}</p>
          <select>
              <option disabled selected>--Escolha seu pão--</option>
              <option value="Hamburger">Hamburger</option>
              <option value="Brioche">Brioche</option>
              <option value="Francês">Francês</option>
            </select>
          <div class="qtdArea center">
            <button class="qtdMenos btn">-</button>
            <p class="qt">1</p>
            <button class="qtdMais btn">+</button>
            <h4 class="valueLanche">R${{valor}}</h4>
            <a href="#!" data-nome="{{nome}}" data-valor="{{valor}}" data-qt="1" class="addCart btn">add ao carrinho</a>
          </div>
        </div>
      </div>
    </div>
  
  {{/each}}
</div>
