{{#if Valid}}
{{>headerCL}}
{{else}}
{{>headerSL}}
{{/if}}
<p class="red-text">{{erro}}</p>
<div class="row container">
  <a href="/client/cart" class="btn red btn-cart modal-trigger">🛒</a>
  {{#each data}}
    <div class="col s12 l8">
      <a href="#modal{{id}}" class="modal-trigger">
        <div class="lancheUniq grey lighten-2">
          <img src="img/{{path}}" class="responsive-img center">
          <h5 class="black-text">{{nome}}</h5>
          <p class="black-text">R${{valor}}</p>
          <p class="black-text">{{descricao}}</p>
        </div>
      </a>
    </div>
    {{/each}}
    {{#each data}}
    <div id="modal{{id}}" class="modal">
      <div class="modal-content">
        <div class="modalTitle blue">
          <h1 class="modal-close white-text waves-effect waves-light"><i class="material-icons">arrow_back</i></h1>
          <h3 class="white-text">{{nome}}</h3>
        </div>
      </div>
      <div class="modal-footer" style="text-align:center;">
        <img src="img/{{path}}" class="responsive-img">
        <div class="desc">
          <p class="black-text">{{descricao}}</p>
          <select>
              <option selected value="Hamburger">Hamburger</option>
              <option value="Brioche">Brioche</option>
              <option value="Francês">Francês</option>
            </select>
          <div class="qtdArea center">
            <button class="qtdMenos btn">-</button>
            <p class="qt">1</p>
            <button class="qtdMais btn">+</button>
            <h4 class="valueLanche">R${{valor}}</h4>
            <a href="#!" data-nome="{{nome}}" data-valor="{{valor}}" data-qt="1" class="addCart btn">add ao carrinho</a>
          </div>
        </div>
        
      </div>
    </div>
  {{/each}}
  
</div>
